In [1]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv("down_detector_outage_count.csv")
df_rep = pd.read_csv("down_detector_reported_problem_count.csv")

In [122]:
providers = {
    "aws": "Amazon Web Services",
    "gcp": "Google Cloud Platform",
    "azure": "Microsoft Azure"
}
    
event_count_vals = df.groupby("provider")["event_id"].max()
report_count_vals = df.groupby("provider")["count"].sum()
detail_event_count_vals = df_rep.dropna().groupby("provider")["event_id"].nunique()

table_df = pd.DataFrame(columns=["Report count", "Event count", "Detailed event count", "Detailed event count %"])
table_df["Event count"] = event_count_vals
table_df["Report count"] = report_count_vals
table_df["Detailed event count"] = detail_event_count_vals
table_df["Detailed event count %"] = (detail_event_count_vals / event_count_vals) * 100
table_df.rename(index=providers, inplace=True)
table_df.sort_values("Report count", inplace=True)

In [123]:
print(table_df.reset_index().to_latex(index=None, float_format="%.2f"))

\begin{tabular}{lrrrr}
\toprule
              provider &  Report count &  Event count &  Detailed event count &  Detailed event count \% \\
\midrule
 Google Cloud Platform &         10440 &           13 &                     4 &                   30.77 \\
       Microsoft Azure &         92856 &           50 &                    13 &                   26.00 \\
   Amazon Web Services &        118415 &           69 &                    25 &                   36.23 \\
\bottomrule
\end{tabular}

In [133]:
# Total for above table
report_count = table_df["Report count"].sum()
event_count = table_df["Event count"].sum()
detailed_event_count = table_df["Detailed event count"].sum()

detailed_event_percent = 100 * (table_df["Detailed event count"].sum() / table_df["Event count"].sum())
report_count, event_count, event_count, detailed_event_percent

(221711, 132, 132, 31.818181818181817)

In [138]:
general_df = pd.DataFrame(columns=["Dataset", "Count", "Date range"])
general_df["Dataset"] = ["Reports", "Events", "Detailed Events"]
general_df["Count"] = [report_count, event_count, detailed_event_count]
general_df["Date range"] = ["4 Jan. 2018 - 19 Dec. 2020", "4 Jan. 2018 - 19 Dec. 2020", "4 Jan. 2018 - 19 Dec. 2020"]

print(general_df.to_latex(index=None))

\begin{tabular}{lrl}
\toprule
         Dataset &   Count &                  Date range \\
\midrule
         Reports &  221711 &  4 Jan. 2018 - 19 Dec. 2020 \\
          Events &     132 &  4 Jan. 2018 - 19 Dec. 2020 \\
 Detailed Events &      42 &  4 Jan. 2018 - 19 Dec. 2020 \\
\bottomrule
\end{tabular}

0       2018-01-04 10:08:28
1       2018-01-04 10:23:28
2       2018-01-04 10:31:11
3       2018-01-04 10:38:28
4       2018-01-04 10:46:11
                ...
12528   2020-12-19 06:45:12
12529   2020-12-19 07:00:12
12530   2020-12-19 07:15:12
12531   2020-12-19 07:30:12
12532   2020-12-19 07:45:12
Name: timestamp, Length: 12533, dtype: datetime64[ns]

In [132]:
general_df

   Dataset Count Date range
0  Reports   NaN        NaN
1   Events   NaN        NaN